services:
  frontend:
    ports:
      - "80:80"
    volumes:
      - ./nginx.prod.conf:/etc/nginx/conf.d/default.conf
    restart: always

  backend:
    environment:
      - NODE_ENV=production
    restart: always

  model-server:
    restart: always
